{% extends "index.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" >
    <div class="container">
        <h1 class="display-3">CAPITAL ADEQUACY FRAMEWORK</h1>
        <p class="lead">Learn about the conceptual design of capital requirement and the key policy features of Basel I, II and III in this programme.</p>
        <br>
        <a class="btn btn-primary btn-lg" href="{{ url_for('register_course') }}" role="button" style="float:right; font-size:16px">Register</a>
    </div>
</div>
<div class="row">
    <div class="col-md-9 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
            <p class="card-title"style="margin:0px;">Course Description</p>
        </div>
        <div class="card-body">
            <h5 class="card-title" style='margin:0px'>Overview</h5>
            <p class="card-text"><small class="text-muted">Posted today</small></p>
            <p class="card-text"><small class="text-muted">Tags: Supervision, Technical, Basel</small></p>
            <p class="card-text"><strong>Date:</strong> 17/06/2019 - 25/06/2019</p>
            <p class="card-text"><strong>Time:</strong> 9:00 am - 5:30 pm</p>
            <p class="card-text">Regulatory capital requirement seek to ensure that risk exposures of a financial institution are backed by an adequate amount of high quality capital which absorbs losses on a going concern basis. The capital adequacy framework sets out the approach for computing regulatory capital adequacy ratios, as well as the levels of those ratios at which a financial institution is required to operate. Learn about the conceptual design of capital requirement and the key policy features of Basel I, II and III in this programme.</p>
            <p class="card-text">
                This programme will be conducted with:
                <ul>
                  <li>Corporate Governance Practices in the Bank.</li>
                  <li>BIS Core Principles</li>
                  <li>Surveillance</li>
                </ul>
              </p>
            <br>
            <h5 class="card-title" style='margin-bottom:16px'>Objectives / Key benefits</h5>
            <p class="card-text">
              <ul>
                <li>Explain the BIS minimum regulatory capital and the various types of capital components; and</li>
                <li>Assess the risk-weighted assets (RWA) and risk-weighted capital adequacy (RWCA)</li>

              </ul>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-header">
              <p class="card-title"style="margin:0px;">Other Interested Staff</p>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        Adam Smith
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Hillary Mason
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Tobias Adrian
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Chris Skinner
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
            <p class="card-title"style="margin:0px;">Course Materials</p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">No course material posted yet</p>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
            <p class="card-title"style="margin:0px;">Questions and Answers</p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">No questions posted yet</p>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
            <p class="card-title"style="margin:0px;">Contacts Obtained from Course</p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">No contacts posted yet</p>
        </div>
      </div>
  </div>
</div>

{% endblock %}