{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
            <div class="mr-md-3 mr-xl-5">
            <h4>Welcome back, Nazran</h4>
            </div>
        </div>   
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card" >
      <div class="card">
        <div class="card-body dashboard-tabs p-0">
          <ul class="nav nav-tabs px-4" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Your Learning Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Course Status</a>
            </li>
          </ul>
          <div class="tab-content py-0 px-0">
            <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-tab">
              <div class="d-flex flex-wrap justify-content-xl-between">
                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                  <i class="mdi mdi mdi-calendar-check mr-3 icon-lg text-success"></i>
                  <div class="d-flex flex-column justify-content-around">
                    <small class="mb-1 text-muted">Course Attended</small>
                    <h5 class="mr-2 mb-0">3</h5>
                  </div>
                </div>
                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                  <i class="mdi mdi mdi-calendar-multiple mr-3 icon-lg text-primary"></i>
                  <div class="d-flex flex-column justify-content-around">
                    <small class="mb-1 text-muted">Upcoming Course</small>
                    <h5 class="mr-2 mb-0">1</h5>
                  </div>
                </div>
                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                  <i class="mdi mdi-book-open-variant mr-3 icon-lg text-warning"></i>
                  <div class="d-flex flex-column justify-content-around">
                    <small class="mb-1 text-muted">Knowledge Contributions</small>
                    <h5 class="mr-2 mb-0">14</h5>
                  </div>
                </div>
                <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                  <i class="mdi mdi-currency-usd mr-3 icon-lg text-primary"></i>
                  <div class="d-flex flex-column justify-content-around">
                    <small class="mb-1 text-muted">LnD Investment</small>
                    <h5 class="mr-2 mb-0">RM 5,890</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                <div class="d-flex flex-wrap justify-content-md-between">
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Course Statuses</th>
                              <!-- <th>Status</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Onboarding Programme 2019</td>
                              
                              <td><label class="badge badge-success">Completed</label></td>
                            </tr>
                            
                            <tr>
                              <td>Python Programming for Data Science</td>
                              <td><label class="badge badge-danger">KSS Overdue</label></td>
                            </tr>
                            <tr>
                              <td>Study Visit to ECB</td>
                              <td><label class="badge badge-danger"> Rejected</label></td>
                            </tr>
                            <tr>
                              <td>RegSchool</td>
                              <td><label class="badge badge-warning">Pending Approval</label></td>
                            </tr>
                            <tr>
                              <td>ISI World Statistic Congress 2019</td>
                              <td><label class="badge badge-info">Approved</label></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 grid-margin stretch-card" >
      <div class="card">
        
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify text-primary"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search Course Catalogue" aria-label="search" aria-describedby="search">
          </div>
          <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-left p-3 item">
              <i class="mdi mdi-calendar-plus mr-3 icon-lg text-success"></i>
              <div class="d-flex flex-column justify-content-around">
                <small class="mb-1 text-muted">Courses Available</small>
                <h5 class="mr-2 mb-0">29</h5>
              </div>
          </div>
      </div>
    </div> -->
  </div>
    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
              <div class="card-header" style="background-color: #2a4a96">
                  <p class="card-title"style="margin:0px; color:white">Colleagues Upcoming Courses</p>
              </div>
              <div class="card-body">
                  <!-- <p class="card-text">Course Status Snapshot</p> -->
                  <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Deadline</th>
                            <th>Posted Questions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>DJ Patil</td>
                            <td>On-boarding Programme July 2019</td>
                            <td>30/06/2019</td>
                            <td> 
                              <i class="mdi mdi-comment-question-outline mr-1 icon-sm" >2</i>
                            </td>
                          </tr>
                          <tr>
                            <td>Andrew Ng</td>
                            <td>Foreign Direct Investment and Interlinkages with Consumption Behavior</td>
                            <td>29/06/2019</td>
                            <td><i class="mdi mdi-comment-question-outline mr-1 icon-sm" >0</i></td>
                          </tr>
                          <tr>
                            <td>Henry Wu</td>
                            <td>Workshop on Open Banking and Open API</td>
                            <td>03/07/2019</td>
                            <td><i class="mdi mdi-comment-question-outline mr-1 icon-sm" >0</i></td>
                          </tr>
                          <tr>
                            <td>Khairul Nazran Kamarulnizam</td>
                            <td>2019 Conference on Neural Information Processing Systems </td>
                            <td>31/08/2019</td>
                            <td><i class="mdi mdi-comment-question-outline mr-1 icon-sm" >9</i></td>
                          </tr>
                          <tr>
                            <td>Muhammad Abduh</td>
                            <td>Islamic Banking and Finance Course</td>
                            <td>14/07/2019</td>
                            <td><i class="mdi mdi-comment-question-outline mr-1 icon-sm" >3</i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
          </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
          <div class="card-header " style="background-color: #2a4a96">
              <p class="card-title"style="margin:0px; color:white">Past Training Courses</p>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body" style="padding: 1rem">
                      <h5 class="card-title" style='margin:0px'>Intro to Python for Data Science</h5>
                      <p class="card-text"><small class="text-muted">Posted 24/06/2019</small></p>
                      <p class="card-text" style="float:left;"><small class="text-muted">Tags: Data Science, Technical</small></p>
                        <i class="mdi mdi-thumb-down-outline mr-2 icon-sm text-danger" style="float:right;">0</i>
                        <i class="mdi mdi-thumb-up-outline mr-2 icon-sm text-success" style="float:right;">2</i>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body" style="padding: 1rem">
                        <label class="badge badge-success"style="float:right;">Materials Available</label></td>
                      <h5 class="card-title" style='margin:0px;'>BIS Core Principles</h5>
                      
                      
                      <p class="card-text" ><small class="text-muted">Posted 20/06/2019</small></p>
                      <p class="card-text" style="float:left;"><small class="text-muted">Tags: Supervision, Technical</small></p>
                        <i class="mdi mdi-thumb-down-outline mr-2 icon-sm text-danger" style="float:right;">3</i>
                        <i class="mdi mdi-thumb-up-outline mr-2 icon-sm text-success" style="float:right;">10</i>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body" style="padding: 1rem">
                      <h5 class="card-title" style='margin:0px'>MyFinTech Week</h5>
                      <p class="card-text"><small class="text-muted">Posted 20/06/2019</small></p>
                      <p class="card-text" style="float:left;"><small class="text-muted">Tags: Fintech, Conference, Industry</small></p>
                        <i class="mdi mdi-thumb-down-outline mr-2 icon-sm text-danger" style="float:right;">25</i>
                        <i class="mdi mdi-thumb-up-outline mr-2 icon-sm text-success" style="float:right;">7</i>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <a href="#" style="float:right; font-size:16px"> More Courses</a>   
          </div>
          </div>
          
      </div>
      <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
          <div class="card-header " style="background-color: #2a4a96">
              <p class="card-title"style="margin:0px; color:white">Courses and Programmes for You</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify text-primary"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Search Course Catalogue" aria-label="search" aria-describedby="search">
                </div>
            </div>
            <br>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title" style='margin:0px'>CAPITAL ADEQUACY FRAMEWORK</h5>
                        <p class="card-text"><small class="text-muted">Posted today</small></p>
                        <p class="card-text">Learn about the conceptual design of capital requirement and the key policy features of Basel I, II and III in this programme.</p>
                        <p class="card-text"><small class="text-muted">Tags: Supervision, Technical</small></p>
                        <a href="{{ url_for('course_page') }}" style="float:right; font-size:14px"> More Info</a>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title" style='margin:0px'>9th FSI-IADI Conference, 4–5 September 2019, Switzerland</h5>
                          <p class="card-text"><small class="text-muted">Posted today</small></p>
                          <p class="card-text">The Financial Stability Institute (FSI) of the Bank for International Settlements (BIS) and the International Association of Deposit Insurers (IADI) are pleased to announce that the upcoming 9th Conference on crisis management, bank resolution and deposit insurance: What’s next and how to prepare will take place in Basel, Switzerland from 4–5 September 2019.</p>
                          <p class="card-text"><small class="text-muted">Tags: Economics, Management</small></p>
                          <a href="{{ url_for('course_page') }}" style="float:right; font-size:14px"> More Info</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title" style='margin:0px'>Going Big with Big Data, 17 July 2019, Kuala Lumpur</h5>
                            <p class="card-text"><small class="text-muted">Posted today</small></p>
                            <p class="card-text">This programme will highlight the latest trends and applications related to Big Data as the scope has significantly expanded over the years. Big Data not only refers to the data itself but also a set of technologies that capture, store, manage and analyse large and variable collections of data, to solve complex problems.</p>
                            <p class="card-text"><small class="text-muted">Tags: Big Data, Data Science</small></p>
                            <a href="{{ url_for('course_page') }}" style="float:right; font-size:14px"> More Info</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title" style='margin:0px'>Special title treatment</h5>
                              <p class="card-text"><small class="text-muted">Posted today</small></p>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Tags: Economics, Research Methods</small></p>
                              <a href="{{ url_for('course_page') }}" style="float:right; font-size:14px"> More Info</a>
                            </div>
                          </div>
                        </div>
                      </div> -->
              <br>
          <a href="#" style="float:right; font-size:16px"> More Courses</a>   
          </div>
          <!-- <canvas id="total-sales-chart"></canvas> -->
          </div>
      </div>
    </div>
    
    </div>
</div>
{% endblock %}